<h1>Users</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 33%">Username</th>
            <th style="width: 34%">Display Name</th>
            <th style="width: 33%">Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.username}}</td>
            <td>{{user.displayName}}</td>
            <td>{{user.emailAddress}}</td>
        </tr>
        <tr *ngIf="!users">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>